extends layout

block content
  script.
    var socket = io();

    function playSound(filename) {
      document.getElementById("sound").innerHTML = '<audio autoplay="autoplay"><source src="./src/' + filename + '.mp3" type="audio/mpeg" /><source src="' + filename + '.ogg" type="audio/ogg" /><embed hidden="true" autostart="true" loop="false" src="' + filename + '.mp3" /></audio>';
    };

    socket.on('message', function(msg) {
      playSound('icq');
      alert(msg);
    })

  div(id="sound")
  img(src="img/logo.png" id="logo")
  span(class="admin").
    Приложение администратора
  iframe(src="https://web.whatsapp.com")


