#logo {
  width: 400px;
  display: block;
  margin: 0 auto;
}

span.admin {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 28px;
}
